*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: black;
  overflow-y: hidden;
}

body{
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

h1 {
  text-align: center;
  color: orange;
}

canvas {
  margin: 0 auto;
}